#include "Source/Core/resource.h"
#include <windows.h>

IDI_SPARKENGINE         ICON                    "SparkEngine.ico"
IDI_SMALL               ICON                    "small.ico"

IDC_SPARKENGINE MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Help" 
    BEGIN
        MENUITEM "&About ...",                  IDM_ABOUT
    END
END

IDC_SPARKENGINE ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE       "SparkEngine"
    IDC_SPARKENGINE     "SPARKENGINE"
END
